<%# 这个局部视图包含搜索产品的表单 %>
<%= form_with url: products_path, method: :get, class: "d-flex flex-wrap gap-2 mb-4" do |f| %>
  <div class="flex-grow-1">
    <%= f.text_field :query,
                     placeholder: "Search products...",
                     class: "form-control",
                     value: params[:query] %>
  </div>

  <div>
    <%= f.select :category_id,
                 options_for_select([["All Categories", ""]] + Category.all.map { |c| [c.name, c.id] },
                 params[:category_id]),
                 {},
                 class: "form-select" %>
  </div>

  <%= f.submit "Search", class: "btn btn-outline-success" %>
<% end %>