<h1>New Product</h1>

<!-- Render the form partial -->
<%= render 'form', product: @product %>

<div class="actions">
  <!-- Back link -->
  <%= link_to 'Back to All Products', products_path, class: 'button' %>
</div> 